
<!--<div class="item clearfix row" ng-if="SettingsHome.data">
  <div class="main pull-right col-md-9">
    <div class="alert alert-danger alert-sm text-center"
         ng-if="!SettingsHome.data.settings.apiKey">Please enter API Key to
      find UV index
    </div>
  </div>
</div>-->
<br>
<div class="item row clearfix">
  <div class="labels col-md-3 padding-right-zero pull-left" style=" width: 42%;"  >
    <span>Time between slides ( 0 - 99 seconds) </span>
  </div>
  <div class="main col-md-9 pull-right" style=" width: 56%; float: right !important; ">
    <input id="url" name="url" type="text" min="0" max="99" class="form-control"
           ng-model="SettingsHome.data.settings.speed"  number-mask>
  </div>
  <hr class="none">
  <br>
</div>